table,th,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
th{
    background-color: grey;
}


table{
   
    width: 100%;
}

div{
    margin: auto;
}